<h1>Admin Dashboard</h1>

<div id='links'>
  <%= link_to 'Admin Merchants', admin_merchants_path %>
  <%= link_to 'Admin Invoices', admin_invoices_path %>
</div>

<div id='statistics'>
  <% @top_customers.each do |cust| %>
    <%=  "#{cust[0]} #{cust[1]}: #{cust[2]}" %>
  <% end %>
</div>

<div id="pending-invoices">
  <% @pending_invoices.each do |invoice| %>
    <%= link_to invoice.id, admin_invoice_path(invoice) %>
  <% end %>
</div>
