<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'My Dashboard', merchant_dashboard_path, class: 'nav-link', aria_current: 'page' %>
  </li>
  <li class="nav-item">
    <%= link_to 'My Items', merchant_items_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'My Invoices', merchant_invoices_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'My Bulk Discounts', merchant_bulk_discounts_path, class: 'nav-link' %>
  </li>
</ul>
